<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/bio">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
			<li><a href="/publications">Publications</a></li>
    		</ul>
		</nav>
		    <div class="container">
        
              {{ content }}
              
    		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="mailto:melyang@ivpp.ac.cn">email</a></li>
        		<li><a href="https://github.com/melyang4">github.com/melyang4</a></li>
			<li><a href="http://124.16.247.197/web/36962/home">workplace</a></li>
			</ul>
		</footer>
	</body>
</html>
